@font-face {
    -fx-font-family : "Ubuntu";
    src             : url("../../font/Ubuntu-Regular.ttf");
}

@font-face {
    -fx-font-family : "Ubuntu";
    src             : url("../../font/Ubuntu-Bold.ttf");
}


* {
    _COLOR_1         : #032D5F;
    _FONT_COLOR      : #000000;
    _HYPERLINK_COLOR : _COLOR_1;
}


.pane-root {
    -fx-alignment        : center;
    -fx-background-color : transparent;
    -fx-hgap             : 20;
    -fx-padding          : 20;
    -fx-vgap             : 20;
}

.pane-root > .label {
    -fx-font-family : "Ubuntu";
    -fx-font-size   : 16;
    -fx-max-width   : infinity;
    -fx-text-fill   : _FONT_COLOR;
}

.pane-root > .left-label {
    -fx-alignment : center-right;
}

.pane-root > .hyperlink,
.pane-root > .hyperlink:focused,
.pane-root > .hyperlink:visited {
    -fx-border-width : 0;
    -fx-cursor       : hand;
    -fx-font-family  : "Ubuntu";
    -fx-font-size    : 16;
    -fx-min-width    : 307;
    -fx-padding      : 0;
    -fx-text-fill    : _HYPERLINK_COLOR;
    -fx-underline    : false;
}

.pane-root > .hyperlink:hover {
    -fx-font-weight : bold;
}

.pane-root > .separator > .line {
    -fx-border-color : _COLOR_1;
    -fx-border-width : 1;
}
