@font-face {
    -fx-font-family : "Ubuntu";
    src             : url("../../font/Ubuntu-Regular.ttf");
}

@font-face {
    -fx-font-family : "Ubuntu";
    src             : url("../../font/Ubuntu-Bold.ttf");
}


* {
    ACCENT             : rgb(0, 45, 90);
    ACCENT_DARK_DARK   : derive(ACCENT, -75%);
    ACCENT_DARK_LIGHT  : derive(ACCENT, -25%);
    ACCENT_LIGHT_DARK  : derive(ACCENT, 25%);
    ACCENT_LIGHT_LIGHT : derive(ACCENT, 75%);
    CONTRAST_ACCENT    : ladder(ACCENT, white 50%, black 50%);
    CONTRAST_THEME     : ladder(THEME, white, black);
    PROMPT_TEXT_COLOR  : rgba(0, 0, 0, 0.5);
    THEME              : white;
}


.pane-root {
    -fx-background-color : THEME;
}


.pane-root > .label {
    -fx-font-family : "Ubuntu";
    -fx-font-size   : 16;
    -fx-text-fill   : CONTRAST_THEME;
}


.pane-root > .hyperlink,
.pane-root > .hyperlink:focused,
.pane-root > .hyperlink:visited {
    -fx-border-width : 0;
    -fx-cursor       : hand;
    -fx-font-family  : "Ubuntu";
    -fx-font-size    : 16;
    -fx-text-fill    : ACCENT;
    -fx-underline    : false;
}

.pane-root > .hyperlink:hover {
    -fx-font-weight : bold;
}


.pane-root > .separator > .line {
    -fx-border-color : ACCENT;
    -fx-border-width : 1;
}
