@font-face {
    -fx-font-family : "Ubuntu";
    src             : url("../../font/Ubuntu-Regular.ttf");
}

@font-face {
    -fx-font-family : "Ubuntu";
    src             : url("../../font/Ubuntu-Bold.ttf");
}

* {
    ACCENT             : rgb(0, 45, 90);
    ACCENT_DARK_DARK   : derive(ACCENT, -75%);
    ACCENT_DARK_LIGHT  : derive(ACCENT, -25%);
    ACCENT_LIGHT_DARK  : derive(ACCENT, 25%);
    ACCENT_LIGHT_LIGHT : derive(ACCENT, 75%);
    CONTRAST_ACCENT    : ladder(ACCENT, white 50%, black 50%);
    CONTRAST_THEME     : ladder(THEME, white, black);
    PROMPT_TEXT_COLOR  : rgba(0, 0, 0, 0.5);
    THEME              : white;
}


.pane-center {
    -fx-background-color : THEME;
}


.pane-center .button {
    -fx-background-color : ACCENT;
    -fx-cursor           : hand;
    -fx-font-family      : "Ubuntu";
    -fx-font-size        : 15px;
    -fx-font-weight      : bold;
    -fx-text-fill        : CONTRAST_ACCENT;
}

.pane-center .button:hover {
    -fx-effect : dropshadow(gaussian, ACCENT, 10, 0, 0, 0);
}

.pane-center .button:armed {
    -fx-background-color : linear-gradient(to bottom, ACCENT, ACCENT_LIGHT_DARK);
}

.pane-center .button:disabled {
    -fx-background-color : ACCENT_LIGHT_LIGHT;
    -fx-opacity          : 1;
}


.pane-center .check-box .box {
    -fx-background-color  : THEME;
    -fx-background-radius : 5;
    -fx-border-color      : CONTRAST_THEME;
    -fx-border-radius     : 5;
}

.pane-center .check-box:hover .box {
    -fx-background-color : ACCENT_LIGHT_LIGHT;
    -fx-border-color     : ACCENT;
}

.pane-center .check-box:selected .box {
    -fx-background-color  : ACCENT;
    -fx-background-insets : 4;
    -fx-background-radius : 3;
    -fx-border-color      : ACCENT;
}

.pane-center .check-box:selected:hover .box {
    -fx-background-color  : ACCENT_LIGHT_LIGHT, ACCENT;
    -fx-background-insets : 0, 5;
    -fx-background-radius : 5, 3;
}

.pane-center .check-box .box .mark {
    -fx-background-color : transparent;
}

.pane-center .check-box .text {
    -fx-fill        : CONTRAST_THEME;
    -fx-font-family : "Ubuntu";
    -fx-font-size   : 15px;
}


.pane-center .label {
    -fx-font-family : "Ubuntu";
    -fx-font-size   : 15px;
    -fx-text-fill   : CONTRAST_THEME;
}


.pane-center .pane-detail {
    -fx-background-color : THEME;
}

.pane-center .pane-detail .content {
    -fx-background-color : THEME;
    -fx-border-color     : transparent;
}

.pane-center .pane-detail .text-area {
    -fx-font-family : "Ubuntu";
    -fx-font-size   : 15px;
}

.pane-center .pane-detail .title {
    -fx-background-color : transparent;
}

.pane-center .pane-detail .title .arrow {
    -fx-background-color  : CONTRAST_THEME;
    -fx-background-insets : 0;
    -fx-effect            : none;
}

.pane-center .pane-detail .title .text {
    -fx-fill        : CONTRAST_THEME;
    -fx-font-family : "Ubuntu";
    -fx-font-size   : 15px;
}


.pane-center .progress-bar .bar {
    -fx-background-color  : linear-gradient(to right, ACCENT, ACCENT_LIGHT_LIGHT, ACCENT);
    -fx-background-insets : 4;
    -fx-background-radius : 100;
}

.pane-center .progress-bar .track {
    -fx-background-color  : THEME;
    -fx-background-radius : 100;
    -fx-border-color      : ACCENT;
    -fx-border-radius     : 100;
}


.pane-center .text-field {
    -fx-background-color  : THEME;
    -fx-background-radius : 5;
    -fx-border-color      : CONTRAST_THEME;
    -fx-border-radius     : 5;
    -fx-font-family       : "Ubuntu";
    -fx-prompt-text-fill  : ladder(THEME, rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.5));
    -fx-text-fill         : CONTRAST_THEME;
}

.pane-center .text-field:focused {
    -fx-background-color : ACCENT_LIGHT_LIGHT;
    -fx-border-color     : ACCENT;
    -fx-prompt-text-fill : ladder(ACCENT_LIGHT_LIGHT, RGBA(255, 255, 255, 0.5) 49%, rgba(0, 0, 0, 0.5) 50%);
    -fx-text-fill        : ladder(ACCENT_LIGHT_LIGHT, white 49%, black 50%);
}


.pane-left {
    -fx-background-color : ACCENT;
}


.pane-left .button {
    -fx-background-color  : transparent;
    -fx-background-insets : -5 0;
    -fx-background-radius : 10 0 0 10;
    -fx-border-radius     : 10 0 0 10;
    -fx-font-family       : "Ubuntu";
    -fx-font-size         : 15px;
    -fx-text-fill         : CONTRAST_ACCENT;
}

.pane-left .button:hover {
    -fx-background-color : ACCENT_DARK_DARK;
    -fx-text-fill        : ladder(ACCENT_DARK_DARK, white 49%, black 50%);
}

.pane-left .button-highlight {
    -fx-background-color : ACCENT_DARK_DARK;
    -fx-effect           : dropshadow(gaussian, ACCENT_LIGHT_LIGHT, 10, 0, 0.0, 0.0);
    -fx-font-family      : "Ubuntu";
    -fx-font-size        : 15px;
}


.pane-root .menu-bar {
    -fx-background-color : linear-gradient(to bottom, ACCENT_DARK_DARK 50%, ACCENT);
}

.pane-root .menu-bar .context-menu {
    -fx-background-color  : ACCENT_LIGHT_LIGHT;
    -fx-background-radius : 5;
    -fx-border-color      : ACCENT;
    -fx-border-radius     : 5;
    -fx-border-width      : 3;
    -fx-padding           : 5;
}

.pane-root .menu-bar .menu .text {
    -fx-fill        : CONTRAST_ACCENT;
    -fx-font-family : "Ubuntu";
    -fx-font-size   : 15px;
}

.pane-root .menu-bar .menu:hover,
.pane-root .menu-bar .menu:showing {
    -fx-background-color : ACCENT_LIGHT_LIGHT;
}

.pane-root .menu-bar .menu-item {
    -fx-background-color  : transparent;
    -fx-background-radius : 5;
}

.pane-root .menu-bar .menu-item .text {
    -fx-fill        : CONTRAST_ACCENT;
    -fx-font-family : "Ubuntu";
    -fx-font-size   : 15px;
}

.pane-root .menu-bar .menu-item:hover {
    -fx-background-color : ACCENT;
}
