@font-face {
    -fx-font-family : "Ubuntu";
    src             : url("../../font/Ubuntu-Regular.ttf");
}

@font-face {
    -fx-font-family : "Ubuntu";
    src             : url("../../font/Ubuntu-Bold.ttf");
}


* {
    _button_color_1   : #20496b;
    _button_color_2   : #25537a;
    _font_color       : #ffffff;
    _left_pane_color  : #1c3f5b;
    _right_pane_color : #ffffff;
}

.left-pane {
    -fx-background-color : _left_pane_color;
    -fx-padding          : 0 0 0 20;
    -fx-spacing          : 20;
}

.left-pane > .module-button {
    -fx-alignment         : center-right;
    -fx-background-color  : transparent;
    -fx-background-insets : 0;
    -fx-background-radius : 10 0 0 10;
    -fx-cursor            : hand;
    -fx-font-size         : 18;
    -fx-padding           : 10 20 10 10;
    -fx-pref-width        : 150;
    -fx-text-fill         : _font_color;
}

.left-pane > .module-button:hover,
.left-pane > .module-button-highlight {
    -fx-background-color : linear-gradient(to right, _button_color_1, _button_color_2, _button_color_1);
    -fx-effect           : dropshadow(gaussian, #f0f0ff, 10, 0, 0, 0);
    -fx-font-weight      : bold;
}

.left-pane > .separator {
    -fx-padding : 0 20 0 0;
}

.left-pane > .separator > .line {
    -fx-border-color : _font_color;
}

.right-pane {
    -fx-background-color : _right_pane_color;
}




/*
-----
Tips about blue border when node is focused
-----
*/

/* Remove drop down button in TabPane */
.tab-pane > .tab-header-area > .control-buttons-tab * {
    -fx-padding : 0;
}

/* Removes the blue border of focused tab */
.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-color : transparent;
}

/* Remove blue border when focused */
.table-view:focused {
    -fx-background-color  : transparent, -fx-box-border, -fx-control-inner-background;
    -fx-background-insets : -1.4, 0, 1;
    -fx-background-radius : 1.4, 0, 0;
    -fx-padding           : 1;
}
