* {
    BACKGROUND_COLOR: rgb(255, 255, 255);
    TEXT_COLOR: rgb(0, 0, 0);

    ACCENT_COLOR: rgb(220, 220, 220);
    ACCENT_COLOR_HIGHLIGHT: rgb(200, 200, 200);
    ACCENT_COLOR_SHADOW: rgb(0, 0, 0);
}



.label {
    -fx-text-fill: TEXT_COLOR;
}



.pane-run-module {
    -fx-background-color: ACCENT_COLOR;
    -fx-background-radius: 10;
}

.pane-run-module:hover {
    -fx-background-color: ACCENT_COLOR_HIGHLIGHT;
    -fx-effect: dropshadow(gaussian, ACCENT_COLOR_SHADOW, 20, 0, 0, 0);
}



.pane-root {
    -fx-background-color: BACKGROUND_COLOR;
}