.label {
    -fx-text-fill: rgb(0, 0, 0);
}



.label-main-screen-button-description {
    -fx-font-size: 18;
}



.label-main-screen-button-title {
    -fx-font-size: 36;
    -fx-font-weight: bold;
}



.pane-main-screen-button {
    -fx-background-color: rgb(220, 220, 220);
    -fx-background-radius: 10;

    -fx-padding: 20;
    -fx-cursor: hand;
}

.pane-main-screen-button:hover {
    -fx-background-color: rgb(200, 200, 200);
}



.pane-main-screen-content {
    -fx-spacing: 30;
}



.pane-root {
    -fx-background-color: rgb(255, 255, 255);

    -fx-padding: 30;
}