@font-face {
    -fx-font-family : "Ubuntu";
    src             : url("../../font/Ubuntu-Regular.ttf");
}

@font-face {
    -fx-font-family : "Ubuntu";
    src             : url("../../font/Ubuntu-Bold.ttf");
}


* {
    _COLOR_1 : #032D5F;
    _COLOR_2 : #043875;
    _COLOR_3 : #0752AD;
}


.pane-root > .scroll-pane .pane-sections {
    -fx-background-color : white;
    -fx-padding          : 30;
    -fx-spacing          : 30;
}

.pane-root > .scroll-pane .pane-sections > .titled-pane > .content {
    -fx-border-width : 0;
}

.pane-root > .scroll-pane .pane-sections > .titled-pane > .content > .pane-section-content {
    -fx-background-color : white;
    -fx-padding          : 10 0;
}

.pane-root > .scroll-pane .pane-sections > .titled-pane > .content > .pane-section-content > .label {
    -fx-font           : normal normal 16 "Ubuntu";
    -fx-max-width      : infinity;
    -fx-text-alignment : justify;
    -fx-text-fill      : black;
    -fx-wrap-text      : true;
}

.pane-root > .scroll-pane .pane-sections > .titled-pane > .title {
    -fx-background-color : transparent;
    -fx-padding          : 0;
}

.pane-root > .scroll-pane .pane-sections > .titled-pane > .title > .arrow-button > .arrow {
    -fx-background-color  : _COLOR_1;

    /* Prevent the arrow from emphasizing when focused. */
    -fx-background-insets : 0;

    /* Remove blue border when focused */
    -fx-effect            : null;
}

.pane-root > .scroll-pane .pane-sections > .titled-pane > .title:hover > .arrow-button > .arrow {
    /* Emphasizes the arrow, similar to bold.  */
    -fx-background-insets : -1;
}

.pane-root > .scroll-pane .pane-sections > .titled-pane > .title > .text {
    -fx-fill : _COLOR_1;
    -fx-font : normal normal 20 "Ubuntu";
}

.pane-root > .scroll-pane .pane-sections > .titled-pane > .title:hover > .text {
    -fx-font-weight : bold;
}
