.label-description {
    -fx-alignment: center-left;
    -fx-max-width: infinity;

    -fx-wrap-text: true;
    -fx-text-alignment: justify;
}



.label-title {
    -fx-alignment: center-left;
    -fx-max-width: infinity;

    -fx-font-size: 36;
    -fx-font-weight: bold;
}



.pane-root {
    -fx-alignment: center;
    -fx-padding: 30;
    -fx-spacing: 30;

    -fx-pref-height: 540;
    -fx-pref-width: 960;
}
