.start-screen-pane-root {
    -fx-background-color: SCREEN_BACKGROUND;

    -fx-padding: 20;
    -fx-pref-width: 960;
    -fx-pref-height: 540;

    -fx-fit-to-width: true;
}



.start-screen-pane-root .pane-content {
    -fx-spacing: 40;
}
