.start-screen-pane-root {
    -fx-background-color: BACKGROUND_COLOR;

    -fx-padding: 20;
    -fx-spacing: 40;

    -fx-pref-width: 960;
    -fx-pref-height: 540;
}



.start-screen-pane-root .pane-button {
    -fx-alignment: center;
    -fx-spacing: 20;
}



.start-screen-pane-root .pane-button .button {
    -fx-max-width: infinity;
}
