@font-face {
    -fx-font-family : "Ubuntu";
    src             : url("../font/Ubuntu-Regular.ttf");
}

@font-face {
    -fx-font-family : "Ubuntu";
    src             : url("../font/Ubuntu-Bold.ttf");
}


/*noinspection CssInvalidFunction*/
* {
    _gradient        : linear-gradient(to top right, _primary_color, _secondary_color);
    _gradient_light  : linear-gradient(to top right, derive(_primary_color, 140%), derive(_secondary_color, 140%));

    _primary_color   : rgb(0, 0, 255);
    _secondary_color : rgb(255, 0, 0);
}


.button {
    -fx-background-color  : white;
    -fx-background-radius : 5px;

    -fx-border-color      : _gradient;
    -fx-border-radius     : 5px;

    -fx-font-family       : "Ubuntu";
    -fx-font-size         : 16px;
    -fx-text-fill         : black;
}

.button:hover {
    -fx-background-color : _gradient_light;
    -fx-text-fill        : _gradient;
}

.button:armed {
    -fx-background-color : _gradient;
    -fx-text-fill        : white;
}


.dialog-pane .content,
.dialog-pane .button-bar {
    -fx-background-color : white;
}

/*noinspection CssInvalidPseudoSelector*/
.dialog-pane:header#confirmation > .header-panel {
    -fx-background-color : linear-gradient(to bottom, dodgerblue, white);
}

/*noinspection CssInvalidPseudoSelector*/
.dialog-pane:header#error > .header-panel {
    -fx-background-color : linear-gradient(to bottom, red, white);
}

/*noinspection CssInvalidPseudoSelector*/
.dialog-pane:header#information > .header-panel {
    -fx-background-color : linear-gradient(to bottom, blue, white);
}

/*noinspection CssInvalidPseudoSelector*/
.dialog-pane:header#none > .header-panel {
    -fx-background-color : linear-gradient(to bottom, lightgrey, white);
}

/*noinspection CssInvalidPseudoSelector*/
.dialog-pane:header#warning > .header-panel {
    -fx-background-color : linear-gradient(to bottom, orange, white);
}

/*noinspection CssInvalidPseudoSelector*/
.dialog-pane:header > .header-panel > .label {
    -fx-font-size   : 18px;
    -fx-font-weight : bold;

}


.label {
    -fx-font-family : "Ubuntu";
    -fx-font-size   : 16px;
    -fx-text-fill   : black;
}
