@font-face {
    -fx-font-family : "Ubuntu";
    src             : url("../../../../../resources/hashtools/gui/font/Ubuntu-Regular.ttf");
}

@font-face {
    -fx-font-family : "Ubuntu";
    src             : url("../../../../../resources/hashtools/gui/font/Ubuntu-Bold.ttf");
}


/*noinspection CssInvalidFunction*/
* {
    _gradient        : linear-gradient(to top right, _primary_color, _secondary_color);
    _gradient_light  : linear-gradient(to top right, derive(_primary_color, 140%), derive(_secondary_color, 140%));

    _primary_color   : rgb(0, 0, 255);
    _secondary_color : rgb(255, 0, 0);
}


.button {
    -fx-background-color  : transparent;
    -fx-background-radius : 5px;

    -fx-border-color      : _gradient;
    -fx-border-radius     : 5px;

    -fx-font-family       : "Ubuntu";
    -fx-font-size         : 16px;
    -fx-text-fill         : black;
}

.button:hover {
    -fx-background-color : _gradient_light;
    -fx-border-color     : _gradient;
    -fx-text-fill        : _gradient;
}

.button:armed {
    -fx-background-color : _gradient;
    -fx-text-fill        : white;
}


.check-box {
    -fx-font-family : "Ubuntu";
    -fx-font-size   : 16px;
}

.check-box:hover,
.check-box:selected {
    -fx-text-fill : _gradient;
}

.check-box > .box {
    -fx-background-color  : _gradient_light;
    -fx-background-radius : 5px;

    -fx-border-color      : transparent;
    -fx-border-radius     : 5px;
}

.check-box:hover > .box {
    -fx-border-color : _gradient;
}

.check-box:selected > .box {
    -fx-background-color  : _gradient;
    -fx-background-insets : 3px;

    -fx-border-color      : _gradient;
}

.check-box > .box > .mark {
    -fx-background-color : transparent;
}


.label {
    -fx-font-family : "Ubuntu";
    -fx-font-size   : 16px;
}


.menu:hover {
    -fx-background-color : derive(_primary_color, 100%);
}

.menu:showing {
    -fx-background-color : _gradient;
}

.menu .context-menu {
    -fx-background-color  : white;
    -fx-background-radius : 5px;

    -fx-border-color      : _gradient;
    -fx-border-radius     : 5px;
}

.menu > .label {
    -fx-font-family : "Ubuntu";
    -fx-font-size   : 14px;
    -fx-text-fill   : black;
}

.menu:showing > .label {
    -fx-text-fill : white;
}


.menu-bar {
    -fx-background-color : _gradient_light;

    -fx-border-color     : _gradient;
    -fx-border-width     : 0px 0px 2px 0px;
}


.menu-item {
    -fx-background-radius : 5px;
    -fx-border-radius     : 5px;
}

.menu-item:focused {
    -fx-background-color : _gradient;
}

.menu-item > .label {
    -fx-font-family : "Ubuntu";
    -fx-font-size   : 14px;
    -fx-text-fill   : black;
}

.menu-item:focused > .label {
    -fx-text-fill : white;
}


.progress-bar > .bar {
    -fx-background-color  : _gradient;
    -fx-background-insets : 5px;
    -fx-background-radius : 100px;
}

.progress-bar > .track {
    -fx-background-color  : white;
    -fx-background-radius : 100px;

    -fx-border-color      : _gradient;
    -fx-border-radius     : 100px;
}


.tab-pane > .tab-content-area {
    -fx-background-color : white;

    -fx-border-color     : _gradient;
    -fx-border-width     : 3px;
}

/* Remove drop down button in TabPane */
.tab-pane > .tab-header-area > .control-buttons-tab * {
    -fx-padding : 0;
}

/* Removes the blue border of focused tab */
.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-color : transparent;
}

.tab-pane > .tab-header-area .tab {
    -fx-background-color : transparent;
    -fx-border-color     : transparent;
}

.tab-pane > .tab-header-area .tab:hover {
    -fx-background-color : _gradient_light;
}

.tab-pane > .tab-header-area .tab:selected {
    -fx-background-color : _gradient;
    -fx-border-color     : _gradient;
}

.tab-pane > .tab-header-area .tab:hover .tab-close-button {
    -fx-background-color : _gradient;
}

.tab-pane > .tab-header-area .tab:selected .tab-close-button {
    -fx-background-color : white;
}

.tab-pane > .tab-header-area .tab:selected .tab-close-button:hover {
    -fx-background-color : black;
}

.tab-pane > .tab-header-area .tab .tab-label {
    -fx-font-family : "Ubuntu";
    -fx-font-size   : 14px;
}

.tab-pane > .tab-header-area .tab:hover .tab-label {
    -fx-text-fill : _gradient;
}

.tab-pane > .tab-header-area .tab:selected .tab-label {
    -fx-text-fill : white;
}

.tab-pane > .tab-header-area .tab-header-background {
    -fx-background-color : white;
}


.table-view {
    -fx-border-color : _gradient;
}

/* Remove blue border when focused */
.table-view:focused {
    -fx-background-color  : transparent, -fx-box-border, -fx-control-inner-background;
    -fx-background-insets : -1.4, 0, 1;
    -fx-background-radius : 1.4, 0, 0;
    -fx-padding           : 1;
}

.table-view .column-header {
    -fx-background-color : _gradient;
}

.table-view .column-header .arrow {
    -fx-background-color : white;
}

.table-view .column-header > .label {
    -fx-font-family : "Ubuntu";
    -fx-font-size   : 14px;
    -fx-text-fill   : white;
}


.text-field {
    -fx-background-color  : white;
    -fx-background-radius : 5px;

    -fx-border-color      : _gradient;
    -fx-border-radius     : 5px;

    -fx-font-family       : "Ubuntu";
    -fx-font-size         : 16px;
}

.text-field:hover,
.text-field:focused {
    -fx-background-color : _gradient_light;
    -fx-border-color     : _gradient;
}


.tooltip {
    -fx-background-color  : _gradient_light;
    -fx-background-radius : 5px;

    -fx-border-color      : _gradient;
    -fx-border-radius     : 5px;
    -fx-border-width      : 2px;

    -fx-font-family       : "Ubuntu";
    -fx-font-size         : 14px;
    -fx-font-weight       : bold;

    -fx-hide-delay        : 500ms;
    -fx-show-delay        : 0ms;
    -fx-show-duration     : 3000000ms;

    -fx-text-fill         : black;
}
