* {
    BACKGROUND_COLOR: rgb(255, 255, 255);
    TEXT_COLOR: rgb(0, 0, 0);
    PROMPT_TEXT_COLOR: rgb(127, 127, 127);

    ACCENT_COLOR: rgb(220, 220, 220);
    ACCENT_COLOR_HIGHLIGHT: rgb(200, 200, 200);
    ACCENT_COLOR_SHADOW: rgb(0, 0, 0);
}



.button {
    -fx-background-color: ACCENT_COLOR;
    -fx-background-radius: 5;

    -fx-text-fill: TEXT_COLOR;
    -fx-font-size: 18;

    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: ACCENT_COLOR_HIGHLIGHT;
}



.button-back {
    -fx-background-color: BACKGROUND_COLOR;
    -fx-background-radius: 5;
}

.button-back:hover {
    -fx-background-color: BACKGROUND_COLOR;
    -fx-effect: dropshadow(gaussian, ACCENT_COLOR_SHADOW, 20, 0, 0, 0);
}



.check-box {
    -fx-text-fill: TEXT_COLOR;
    -fx-font-size: 18;
}

.check-box .box {
    -fx-background-color: BACKGROUND_COLOR;
    -fx-background-radius: 5;

    -fx-border-color: TEXT_COLOR;
    -fx-border-radius: 5;
}

.check-box:hover .box {
    -fx-background-color: derive(ACCENT_COLOR, 30%);
}

.check-box:selected .box .mark {
    -fx-background-color: TEXT_COLOR;
}



.label {
    -fx-text-fill: TEXT_COLOR;
    -fx-font-size: 18;
}



.pane-run-module {
    -fx-background-color: ACCENT_COLOR;
    -fx-background-radius: 10;
}

.pane-run-module:hover {
    -fx-background-color: ACCENT_COLOR_HIGHLIGHT;
    -fx-effect: dropshadow(gaussian, ACCENT_COLOR_SHADOW, 20, 0, 0, 0);
}



.pane-root {
    -fx-background-color: BACKGROUND_COLOR;
}



.separator .line {
    -fx-border-color: TEXT_COLOR;
    -fx-border-width: 1;
}



.text-field {
    -fx-background-color: BACKGROUND_COLOR;
    -fx-background-radius: 5;

    -fx-border-color: TEXT_COLOR;
    -fx-border-radius: 5;

    -fx-text-fill: TEXT_COLOR;
    -fx-prompt-text-fill: PROMPT_TEXT_COLOR;
    -fx-font-size: 18;
}

.text-field:focused {
    -fx-background-color: derive(ACCENT_COLOR, 30%);
}