* {
    _COLOR_1         : #032D5F;
    _INDICATOR_COLOR : _COLOR_1;
}


.pane-root {
    -fx-background-color : transparent;
    -fx-padding          : 30;
}

.progress-indicator {
    -fx-max-height     : infinity;
    -fx-max-width      : infinity;
    -fx-progress-color : _INDICATOR_COLOR;
}
