.button-check {
    -fx-background-color: rgba(0, 150, 0, 0.1);
    -fx-background-radius: 5px;
    -fx-border-color: rgb(0, 150, 0);
    -fx-border-radius: 5px;
    -fx-text-fill: rgb(0, 150, 0);
}

.button-check:hover {
    -fx-effect: dropshadow(gaussian, rgb(0, 150, 0), 20, 0.0, 0.0, 0.0);
}

.button-check:selected {
    -fx-background-color: rgb(0, 150, 0);
    -fx-text-fill: white;
    -fx-effect: none;
}

.button-compare {
    -fx-background-color: rgba(240, 120, 0, 0.1);
    -fx-background-radius: 5px;
    -fx-border-color: rgb(240, 120, 0);
    -fx-border-radius: 5px;
    -fx-text-fill: rgb(240, 120, 0);
}

.button-compare:hover {
    -fx-effect: dropshadow(gaussian, rgb(240, 120, 0), 20, 0.0, 0.0, 0.0);
}

.button-compare:selected {
    -fx-background-color: rgb(240, 120, 0);
    -fx-text-fill: white;
    -fx-effect: none;
}

.button-generate {
    -fx-background-color: rgba(0, 0, 255, 0.1);
    -fx-background-radius: 5px;
    -fx-border-color: rgb(0, 0, 255);
    -fx-border-radius: 5px;
    -fx-text-fill: rgb(0, 0, 255);
}

.button-generate:hover {
    -fx-effect: dropshadow(gaussian, rgb(0, 0, 255), 20, 0.0, 0.0, 0.0);
}

.button-generate:selected {
    -fx-background-color: rgb(0, 0, 255);
    -fx-text-fill: white;
    -fx-effect: none;
}

.label {
    -fx-text-fill: black;
}

.pane-root {
    -fx-background-color: white;
}
