.button-check {
    -fx-background-color: rgba(0, 150, 0, 0.1);
    -fx-background-radius: 5px;
    -fx-border-color: rgb(0, 150, 0);
    -fx-border-radius: 5px;
    -fx-text-fill: rgb(0, 150, 0);
}

.button-check:hover {
    -fx-effect: dropshadow(gaussian, rgb(0, 150, 0), 20, 0.0, 0.0, 0.0);
}

.button-check:selected {
    -fx-background-color: rgb(0, 150, 0);
    -fx-text-fill: white;
    -fx-effect: none;
}

.button-compare {
    -fx-background-color: rgba(240, 120, 0, 0.1);
    -fx-background-radius: 5px;
    -fx-border-color: rgb(240, 120, 0);
    -fx-border-radius: 5px;
    -fx-text-fill: rgb(240, 120, 0);
}

.button-compare:hover {
    -fx-effect: dropshadow(gaussian, rgb(240, 120, 0), 20, 0.0, 0.0, 0.0);
}

.button-compare:selected {
    -fx-background-color: rgb(240, 120, 0);
    -fx-text-fill: white;
    -fx-effect: none;
}

.button-generate {
    -fx-background-color: rgba(0, 0, 255, 0.1);
    -fx-background-radius: 5px;
    -fx-border-color: rgb(0, 0, 255);
    -fx-border-radius: 5px;
    -fx-text-fill: rgb(0, 0, 255);
}

.button-generate:hover {
    -fx-effect: dropshadow(gaussian, rgb(0, 0, 255), 20, 0.0, 0.0, 0.0);
}

.button-generate:selected {
    -fx-background-color: rgb(0, 0, 255);
    -fx-text-fill: white;
    -fx-effect: none;
}

.check-box {
    -fx-text-fill: black;
}

.check-box .box {
    -fx-background-color: white;
    -fx-background-radius: 3px;
    -fx-border-color: black;
    -fx-border-radius: 3px;
}

.check-box:hover .box,
.check-box:selected .box {
    -fx-background-color: rgba(0, 0, 0, 0.2);
}

.check-box:selected .mark {
    -fx-background-color: black;
}

.label {
    -fx-text-fill: black;
}

.pane-root {
    -fx-background-color: white;
}

.text-area {
    -fx-background-color: white;
    -fx-background-radius: 5px;
    -fx-border-color: black;
    -fx-border-radius: 5px;
    -fx-text-fill: black;
}

.text-area .content {
    -fx-background-color: white;
    -fx-background-radius: 5px;
    -fx-cursor: default;
}

.text-field {
    -fx-background-color: white;
    -fx-background-radius: 5px;
    -fx-border-color: black;
    -fx-border-radius: 5px;
    -fx-text-fill: black;
}

.text-field:focused,
.text-field:hover {
    -fx-background-color: rgba(0, 0, 0, 0.1);
}
