@font-face {
    -fx-font-family: "Noto Sans Display";
    src: url("../font/NotoSansDisplay-Regular.ttf");
}

@font-face {
    -fx-font-family: "Noto Sans Mono";
    src: url("../font/NotoSansMono-Regular.ttf");
}

.button-check {
    -fx-background-color: rgb(230, 255, 255);
    -fx-background-radius: 5px;
    -fx-border-color: rgb(0, 150, 150);
    -fx-border-radius: 5px;
    -fx-text-fill: rgb(0, 150, 150);
}

.button-check:focused,
.button-check:hover {
    -fx-effect: dropshadow(gaussian, rgb(0, 150, 150), 10, 0.0, 0.0, 0.0);
}

.button-check:selected {
    -fx-background-color: rgb(0, 150, 150);
    -fx-text-fill: white;
    -fx-effect: none;
}

.button-compare {
    -fx-background-color: rgb(255, 240, 230);
    -fx-background-radius: 5px;
    -fx-border-color: rgb(240, 120, 0);
    -fx-border-radius: 5px;
    -fx-text-fill: rgb(240, 120, 0);
}

.button-compare:focused,
.button-compare:hover {
    -fx-effect: dropshadow(gaussian, rgb(240, 120, 0), 10, 0.0, 0.0, 0.0);
}

.button-compare:selected {
    -fx-background-color: rgb(240, 120, 0);
    -fx-text-fill: white;
    -fx-effect: none;
}

.button-generate {
    -fx-background-color: rgb(225, 225, 255);
    -fx-background-radius: 5px;
    -fx-border-color: rgb(0, 0, 255);
    -fx-border-radius: 5px;
    -fx-text-fill: rgb(0, 0, 255);
}

.button-generate:focused,
.button-generate:hover {
    -fx-effect: dropshadow(gaussian, rgb(0, 0, 255), 10, 0.0, 0.0, 0.0);
}

.button-generate:selected {
    -fx-background-color: rgb(0, 0, 255);
    -fx-text-fill: white;
    -fx-effect: none;
}

.button-run {
    -fx-background-color: rgb(230, 255, 230);
    -fx-background-radius: 5px;
    -fx-border-color: rgb(0, 150, 0);
    -fx-border-radius: 5px;
    -fx-text-fill: rgb(0, 150, 0);
}

.button-run:focused,
.button-run:hover {
    -fx-effect: dropshadow(gaussian, rgb(0, 150, 0), 10, 0.0, 0.0, 0.0);
}

.button-run:armed {
    -fx-background-color: rgb(0, 150, 0);
    -fx-text-fill: white;
    -fx-effect: none;
}

.check-box {
    -fx-text-fill: black;
}

.check-box .box {
    -fx-background-color: white;
    -fx-background-radius: 3px;
    -fx-border-color: black;
    -fx-border-radius: 3px;
}

.check-box:focused .box,
.check-box:hover .box {
    -fx-background-color: rgb(255, 190, 190);
}

.check-box:selected .box {
    -fx-background-color: rgb(255, 190, 190);
    -fx-border-color: red;
}

.check-box:selected .mark {
    -fx-background-color: white;
}

.context-menu {
    -fx-background-color: white;
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(gaussian, rgb(255, 0, 0), 10, 0.0, 0.0, 0.0);
    -fx-padding: 5;
}

.context-menu .menu-item:focused,
.context-menu .menu-item:hover {
    -fx-background-color: rgb(255, 190, 190);
    -fx-background-radius: 5px;
}

.label {
    -fx-text-fill: black;
}

.pane-root {
    -fx-background-color: white;
}

.text-area {
    -fx-background-color: white;
    -fx-background-radius: 5px;
    -fx-border-color: black;
    -fx-border-radius: 5px;
    -fx-text-fill: black;
}

.text-area .content {
    -fx-background-color: white;
    -fx-background-radius: 5px;
    -fx-cursor: default;
}

.text-field {
    -fx-background-color: white;
    -fx-background-radius: 5px;
    -fx-border-color: black;
    -fx-border-radius: 5px;
    -fx-text-fill: black;
}

.text-field:focused,
.text-field:hover {
    -fx-background-color: rgb(240, 240, 240);
}

.tooltip {
    -fx-background-color: rgba(0, 0, 0, 0.7);
    -fx-background-radius: 10px;
    -fx-text-fill: white;
    -fx-show-delay: 0ms;
    -fx-show-duration: indefinite;
}
