@font-face {
    -fx-font-family : "Ubuntu";
    src             : url("../../font/Ubuntu-Regular.ttf");
}

@font-face {
    -fx-font-family : "Ubuntu";
    src             : url("../../font/Ubuntu-Bold.ttf");
}


/*noinspection CssInvalidFunction*/
* {
    _gradient        : linear-gradient(to top right, _primary_color, _secondary_color);
    _gradient_light  : linear-gradient(to top right, derive(_primary_color, 140%), derive(_secondary_color, 140%));

    _primary_color   : rgb(0, 0, 255);
    _secondary_color : rgb(255, 0, 0);
}


.hyperlink,
.hyperlink:focused,
.hyperlink:visited {
    -fx-border-color : transparent;
    -fx-border-style : none;
    -fx-border-width : 0px;

    -fx-font-family  : "Ubuntu";
    -fx-font-size    : 16px;

    -fx-padding      : 0px;
    -fx-text-fill    : _gradient;
    -fx-underline    : false;
}

.hyperlink:hover {
    -fx-scale-x : 1.025;
}


.label {
    -fx-font-family : "Ubuntu";
    -fx-font-size   : 16px;
}


.separator > .line {
    -fx-border-color : _gradient;
    -fx-border-width : 1px;
}


.vbox {
    -fx-background-color : white;
}
