@font-face {
    -fx-font-family : "Ubuntu";
    src             : url("../../font/Ubuntu-Regular.ttf");
}

@font-face {
    -fx-font-family : "Ubuntu";
    src             : url("../../font/Ubuntu-Bold.ttf");
}

@font-face {
    -fx-font-family : "Ubuntu Mono";
    src             : url("../../font/UbuntuMono-Regular.ttf");
}


* {
    _COLOR_1         : #032D5F;
    _COLOR_2         : #043875;
    _COLOR_3         : #0752AD;
    _FONT_COLOR      : #000000;
    _INPUT_HIGHLIGHT : derive(_COLOR_1, 150%);
    _PANE_COLOR      : #FFFFFF;
    _SHADOW_COLOR    : _COLOR_1;
}


.pane-root {
    -fx-background-color : _PANE_COLOR;
    -fx-padding          : 20;
    -fx-spacing          : 20;
}

.pane-root > .pane-form {
    -fx-background-color : _PANE_COLOR;
    -fx-hgap             : 20;
    -fx-vgap             : 20;
}

.pane-root > .pane-form > .button {
    -fx-background-color : _COLOR_1;
    -fx-font-family      : "Ubuntu";
    -fx-font-size        : 16;
    -fx-text-fill        : white;
}

.pane-root > .pane-form > .button:armed {
    -fx-background-color : radial-gradient(center 50% 50%, radius 50%, _COLOR_3, _COLOR_1);
}

.pane-root > .pane-form > .button:hover {
    -fx-effect : dropshadow(gaussian, _SHADOW_COLOR, 10, 0, 0, 0);
}

.pane-root > .pane-form > .label {
    -fx-font-family : "Ubuntu";
    -fx-font-size   : 16;
    -fx-text-fill   : _FONT_COLOR;
}

.pane-root > .pane-form > .text-field {
    -fx-background-color  : white;
    -fx-background-radius : 5;
    -fx-border-color      : _COLOR_1;
    -fx-border-radius     : 5;
    -fx-font-family       : "Ubuntu";
    -fx-font-size         : 14;
    -fx-text-fill         : _FONT_COLOR;
}

.pane-root > .pane-form > .text-field:focused {
    -fx-background-color : _INPUT_HIGHLIGHT;
}

.pane-root > .pane-form > .text-field:hover {
    -fx-effect : dropshadow(gaussian, _SHADOW_COLOR, 10, 0, 0, 0);
}

.pane-root > .progress-bar > .bar {
    -fx-background-color  : _COLOR_1;
    -fx-background-insets : 5;
    -fx-background-radius : 100;
}

.pane-root > .progress-bar:hover > .bar {
    -fx-background-color : _COLOR_3;
}

.pane-root > .progress-bar > .track {
    -fx-background-color  : white;
    -fx-background-radius : 100;
    -fx-border-color      : black;
    -fx-border-radius     : 100;
}

.pane-root > .separator > .line {
    -fx-border-color : _COLOR_1;
}

.pane-root > .titled-pane {
    -fx-border-width : 0;
}

.pane-root > .titled-pane > .content {
    -fx-background-color : _PANE_COLOR;
    -fx-border-width     : 0;
}

.pane-root > .titled-pane > .content > .scroll-pane .pane-result {
    -fx-background-color : _PANE_COLOR;
}

.pane-root > .titled-pane > .content > .scroll-pane .pane-result > .label-result {
    -fx-font-family : "Ubuntu Mono";
    -fx-font-size   : 16;
    -fx-text-fill   : _FONT_COLOR;
}

.pane-root > .titled-pane > .title {
    -fx-background-color : transparent;
    -fx-padding          : 5 0;
}

.pane-root > .titled-pane > .title > .arrow-button > .arrow {
    -fx-background-color  : _COLOR_1;

    /* Prevent arrow from growing when focused */
    -fx-background-insets : 0;

    /* Remove blue shadow of the arrow */
    -fx-effect            : null;
}

.pane-root > .titled-pane > .title:hover > .arrow-button > .arrow {
    -fx-background-insets : -1;
}

.pane-root > .titled-pane > .title > .text {
    -fx-fill        : _COLOR_1;
    -fx-font-family : "Ubuntu";
    -fx-font-size   : 16;
}

.pane-root > .titled-pane > .title:hover > .text {
    -fx-font-weight : bold;
}

.tooltip {
    -fx-background-color  : _COLOR_1;
    -fx-background-insets : 1;
    -fx-background-radius : 10;
    -fx-border-color      : white;
    -fx-border-radius     : 10;
    -fx-font              : normal normal 16 "Ubuntu";
    -fx-show-delay        : 0s;
    -fx-show-duration     : 3600s;
    -fx-text-fill         : white;
}
