.root {
    SCREEN_BACKGROUND: rgba(235, 235, 235, 1.0);
    ISLAND_BACKGROUND: rgba(255, 255, 255, 1.0);

    ACCENT_WEAK: rgba(0, 0, 255, 0.05);
    ACCENT_MEDIUM: rgba(0, 0, 255, 0.1);
    ACCENT_STRONG: rgba(0, 0, 255, 0.3);
    ACCENT_MAX: rgba(0, 0, 255, 1.0);


    LABEL_TEXT: rgba(0, 0, 0, 1.0);


    BUTTON_BACKGROUND: ACCENT_WEAK;
    BUTTON_BACKGROUND_HOVER: ACCENT_MEDIUM;
    BUTTON_BACKGROUND_ARMED: ACCENT_STRONG;
    BUTTON_BORDER: ACCENT_MAX;
    BUTTON_BORDER_HOVER: ACCENT_MAX;
    BUTTON_BORDER_ARMED: ACCENT_MAX;
    BUTTON_TEXT: rgba(0, 0, 0, 1.0);
    BUTTON_TEXT_HOVER: rgba(0, 0, 0, 1.0);
    BUTTON_TEXT_ARMED: rgba(255, 255, 255, 1.0);


    TOGGLE_BUTTON_BACKGROUND: ACCENT_WEAK;
    TOGGLE_BUTTON_BACKGROUND_HOVER: ACCENT_MEDIUM;
    TOGGLE_BUTTON_BACKGROUND_SELECTED: ACCENT_STRONG;
    TOGGLE_BUTTON_BORDER: ACCENT_WEAK;
    TOGGLE_BUTTON_BORDER_HOVER: ACCENT_WEAK;
    TOGGLE_BUTTON_BORDER_SELECTED: ACCENT_WEAK;
    TOGGLE_BUTTON_TEXT: rgba(0, 0, 0, 1.0);
    TOGGLE_BUTTON_TEXT_HOVER: rgba(0, 0, 0, 1.0);
    TOGGLE_BUTTON_TEXT_SELECTED: rgba(0, 0, 0, 1.0);
    TOGGLE_BUTTON_TEXT_SELECTED: rgba(255, 255, 255, 1.0);


    CHECKBOX_BACKGROUND: ACCENT_WEAK;
    CHECKBOX_BACKGROUND_HOVER: ACCENT_MEDIUM;
    CHECKBOX_BACKGROUND_ARMED: ACCENT_STRONG;
    CHECKBOX_BACKGROUND_SELECTED: ACCENT_MAX;
    CHECKBOX_BORDER: ACCENT_MAX;
    CHECKBOX_BORDER_HOVER: ACCENT_MAX;
    CHECKBOX_BORDER_ARMED: ACCENT_MAX;
    CHECKBOX_BORDER_SELECTED: ACCENT_MAX;
    CHECKBOX_TEXT: rgba(0, 0, 0, 1.0);
    CHECKBOX_MARK: rgba(255, 255, 255, 1.0);


    SLIDER_TRACK_BACKGROUND: transparent;
    SLIDER_TRACK_BACKGROUND_HOVER: transparent;
    SLIDER_TRACK_BACKGROUND_ARMED: ACCENT_WEAK;
    SLIDER_TRACK_BORDER: ACCENT_WEAK;
    SLIDER_TRACK_BORDER_HOVER: ACCENT_STRONG;
    SLIDER_TRACK_BORDER_ARMED: ACCENT_STRONG;
    SLIDER_THUMB_BACKGROUND: ACCENT_WEAK;
    SLIDER_THUMB_BACKGROUND_HOVER: ACCENT_MEDIUM;
    SLIDER_THUMB_BACKGROUND_ARMED: ACCENT_STRONG;
    SLIDER_THUMB_BORDER: ACCENT_MAX;
    SLIDER_THUMB_BORDER_HOVER: ACCENT_MAX;
    SLIDER_THUMB_BORDER_ARMED: ACCENT_MAX;
    SLIDER_TEXT: rgba(0, 0, 0, 1.0);


    SCROLLPANE_TRACK_BACKGROUND: ACCENT_WEAK;
    SCROLLPANE_TRACK_BACKGROUND_HOVER: ACCENT_MEDIUM;
    SCROLLPANE_TRACK_BACKGROUND_PRESSED: ACCENT_STRONG;
    SCROLLPANE_TRACK_BORDER: transparent;
    SCROLLPANE_TRACK_BORDER_HOVER: transparent;
    SCROLLPANE_TRACK_BORDER_PRESSED: transparent;
    SCROLLPANE_THUMB_BACKGROUND: ACCENT_WEAK;
    SCROLLPANE_THUMB_BACKGROUND_HOVER: ACCENT_MEDIUM;
    SCROLLPANE_THUMB_BACKGROUND_PRESSED: ACCENT_STRONG;
    SCROLLPANE_THUMB_BORDER: ACCENT_MAX;
    SCROLLPANE_THUMB_BORDER_HOVER: ACCENT_MAX;
    SCROLLPANE_THUMB_BORDER_PRESSED: ACCENT_MAX;


    PANE_INPUT_BACKGROUND: transparent;
    PANE_INPUT_BACKGROUND_FOCUSED: transparent;
    PANE_INPUT_BORDER: ACCENT_WEAK;
    PANE_INPUT_BORDER_FOCUSED: ACCENT_MAX;

    PANE_INPUT_BUTTON_BACKGROUND: transparent;
    PANE_INPUT_BUTTON_BACKGROUND_HOVER: ACCENT_MEDIUM;
    PANE_INPUT_BUTTON_BACKGROUND_ARMED: ACCENT_STRONG;
    PANE_INPUT_BUTTON_BORDER: transparent;
    PANE_INPUT_BUTTON_BORDER_HOVER: transparent;
    PANE_INPUT_BUTTON_BORDER_ARMED: transparent;
    PANE_INPUT_BUTTON_TEXT: rgba(0, 0, 0, 1,0);
    PANE_INPUT_BUTTON_TEXT_HOVER: rgba(0, 0, 0, 1,0);
    PANE_INPUT_BUTTON_TEXT_ARMED: rgba(255, 255, 255, 1,0);

    PANE_INPUT_TEXTFIELD_BACKGROUND: transparent;
    PANE_INPUT_TEXTFIELD_BACKGROUND_FOCUSED: transparent;
    PANE_INPUT_TEXTFIELD_BORDER: transparent;
    PANE_INPUT_TEXTFIELD_BORDER_FOCUSED: transparent;
    PANE_INPUT_TEXTFIELD_TEXT: rgba(0, 0, 0, 1.0);
    PANE_INPUT_TEXTFIELD_TEXT_FOCUSED: rgba(0, 0, 0, 1.0);
}
