.root {
    BACKGROUND_COLOR: rgb(255, 255, 255);

    /* Used in buttons background, for example */
    ACCENT_COLOR: ladder(
        BACKGROUND_COLOR,
        derive(BACKGROUND_COLOR, 20%) 49%,
        derive(BACKGROUND_COLOR, -10%) 50%
    );

    /* Used when hovering buttons, for example */
    ACCENT_COLOR_INTENSE: ladder(
        BACKGROUND_COLOR,
        derive(BACKGROUND_COLOR, 30%) 49%,
        derive(BACKGROUND_COLOR, -20%) 50%
    );

    TEXT_COLOR: ladder(
        BACKGROUND_COLOR,
        rgb(255, 255, 255) 49%,
        rgb(0, 0, 0) 50%
    );

    SHADOW_COLOR: ladder(
        BACKGROUND_COLOR,
        derive(BACKGROUND_COLOR, 90%) 49%,
        derive(BACKGROUND_COLOR, -60%) 50%
    );
}
