.button {
    -fx-background-color: ACCENT_COLOR;;
    -fx-background-radius: 10;

    -fx-border-color: TEXT_COLOR;
    -fx-border-radius: 10;

    -fx-text-fill: TEXT_COLOR;
    -fx-font-size: 18;
    -fx-cursor: hand;

    -fx-spacing: 20;
}

.button:armed,
.button:armed:hover {
    -fx-background-color: ACCENT_COLOR_INTENSE;
}

.button:hover {
    -fx-effect: dropshadow(gaussian, SHADOW_COLOR, 20, 0, 0, 0);
}



.check-box {
    -fx-text-fill: TEXT_COLOR;
    -fx-font-size: 18;
    -fx-max-width: infinity;
    -fx-cursor: hand;
}



.check-box .box {
    -fx-background-color: BACKGROUND_COLOR;
    -fx-background-radius: 7;

    -fx-border-color: TEXT_COLOR;
    -fx-border-radius: 7;
}

.check-box:armed:hover .box {
    -fx-background-color: ACCENT_COLOR_INTENSE;
}

.check-box:hover .box {
    -fx-effect: dropshadow(gaussian, SHADOW_COLOR, 20, 0, 0, 0);
}



.check-box:selected .box .mark {
    -fx-background-color: TEXT_COLOR;
}



.label {
    -fx-text-fill: TEXT_COLOR;
    -fx-font-size: 18;
}



.scroll-pane .scroll-bar .decrement-button,
.scroll-pane .scroll-bar .decrement-button .decrement-arrow,
.scroll-pane .scroll-bar .increment-button,
.scroll-pane .scroll-bar .increment-button .increment-arrow {
    /* Remove the scrollbar buttons */
    -fx-padding: 0;
}



.scroll-pane .scroll-bar .thumb {
    -fx-background-color: ACCENT_COLOR;
    -fx-background-radius: 10;

    -fx-border-color: TEXT_COLOR;
    -fx-border-radius: 10;
}

.scroll-pane .scroll-bar:hover .thumb {
    -fx-background-color: ACCENT_COLOR_INTENSE;
}



.scroll-pane .scroll-bar .track {
    -fx-background-color: BACKGROUND_COLOR;
    -fx-background-radius: 10;
}



.scroll-pane .viewport {
    -fx-background-color: transparent;
}



.separator .line {
    -fx-border-color: TEXT_COLOR;
    -fx-border-width: 1;
}



.slider {
    -fx-cursor: hand;
}



.slider .axis {
    /* Change the tick label style */

    -fx-tick-label-fill: TEXT_COLOR;
    -fx-tick-label-font: 14 system;
    -fx-tick-length: 2;
}



.slider .axis .axis-tick-mark,
.slider .axis .axis-minor-tick-mark {
    /* Change the tick mark style */

    -fx-stroke: TEXT_COLOR;
    -fx-stroke-width: 3;
}



.slider .thumb {
    /* Change the ball style */

    -fx-background-color: ACCENT_COLOR;
    -fx-background-radius: 10;

    -fx-border-color: TEXT_COLOR;
    -fx-border-radius: 10;

    -fx-cursor: hand;
}

.slider:hover .thumb {
    -fx-effect: dropshadow(gaussian, SHADOW_COLOR, 20, 0, 0, 0);
}

.slider:pressed .thumb {
    -fx-background-color: ACCENT_COLOR_INTENSE;
}



.slider .track {
    /* Change the bar behind the ball style */

    -fx-background-color: BACKGROUND_COLOR;
    -fx-background-radius: 10;

    -fx-border-color: ACCENT_COLOR_INTENSE;
    -fx-border-radius: 10;
    -fx-border-width: 1;
}

.slider:hover .track {
    -fx-border-width: 2;
}



.text-field {
    -fx-background-color: ACCENT_COLOR;
    -fx-background-radius: 10;

    -fx-border-color: TEXT_COLOR;
    -fx-border-radius: 10;

    -fx-text-fill: TEXT_COLOR;
    -fx-prompt-text-fill: grey;
    -fx-font-size: 18;
}

.text-field:hover {
    -fx-effect: dropshadow(gaussian, SHADOW_COLOR, 20, 0, 0, 0);
}



.pane-input-file:hover {
    -fx-effect: dropshadow(gaussian, SHADOW_COLOR, 20, 0, 0, 0);
}



.pane-input-file .button {
    -fx-background-radius: 0 10 10 0;
    -fx-border-radius: 0 10 10 0;
    -fx-effect: none;
}



.pane-input-file .text-field {
    -fx-background-radius: 10 0 0 10;
    -fx-border-radius: 10 0 0 10;
    -fx-effect: none;
}
