.button {
    -fx-background-color: ACCENT_COLOR;;
    -fx-background-radius: 10;

    -fx-border-color: TEXT_COLOR;
    -fx-border-radius: 10;

    -fx-font-size: 18;
    -fx-cursor: hand;

    -fx-padding: 10;
    -fx-spacing: 20;
}

.button:hover {
    -fx-effect: dropshadow(gaussian, SHADOW_COLOR, 20, 0, 0, 0);
}



.label {
    -fx-text-fill: TEXT_COLOR;
    -fx-font-size: 18;
}



.pane-root {
    -fx-background-color: BACKGROUND_COLOR;
}
